body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fbfbf8;
  }

  header {
    background-color: #c396b7;
    color: #b45b67;
    text-shadow: #e48bae 2px 2px;
  }

  p {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid #e48bae;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
    border-style: solid;
    border-color: #e48bae;
  }
  
  .row {
    border-top: 1px;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
  }
  
  .past {
    background-color: #d9d9e1;
    color: #b45b67;
  }
  
  .present {
    background-color: #7c4dff;
    color: white;
  }
  
  .future {
    background-color: #cafcca;
    color: rgb(126, 126, 126);
  }
  
  .saveBtn {
   
    background-color: #b094c2;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }